In [26]:
import sqlalchemy as db
#create engine

import urllib
params = urllib.parse.quote_plus("DRIVER={SQL Server};SERVER=TWINBANJ\MSSQLSERVERDEV;DATABASE=adamdb")

engine = db.create_engine("mssql+pyodbc:///?odbc_connect=%s" % params)

conn = engine.connect()
trans = conn.begin()

conn.execute("""USE adamdb
DROP TABLE IF EXISTS [dbo].[ODS_GP_V02];
CREATE TABLE [dbo].[ODS_GP_V02](
[DSS_KEY] [int] IDENTITY(1,1) NOT NULL,
[CODE] [varchar](8) NOT NULL,
[NAME] [varchar](50) NOT NULL,
[NATIONAL_GROUPING] [varchar](5) NULL,
[HIGH_LEVEL_HEALTH_GEOGRAPHY] [varchar](5) NOT NULL,
[ADDRESS_LINE_1] [varchar](35) NULL,
[ADDRESS_LINE_2] [varchar](35) NULL,
[ADDRESS_LINE_3] [varchar](35) NULL,
[ADDRESS_LINE_4] [varchar](35) NULL,
[ADDRESS_LINE_5] [varchar](35) NULL,
[POSTCODE] [varchar](8) NULL,
[OPEN_DATE] [date] NOT NULL,
[CLOSE_DATE] [date] NULL,
[STATUS_CODE] [varchar](1) NOT NULL,
[ORGANISATION_SUB_TYPE_CODE] [varchar](1) NOT NULL,
[PARENT_ORGANISATION_CODE] [varchar](6) NOT NULL,
[JOIN_PARENT_DATE] [date] NOT NULL,
[LEFT_PARENT_DATE] [date] NULL,
[CONTACT_TELEPHONE_NUMBER] [varchar](12) NULL,
[CURRENT_CARE_ORGANISATION] [varchar](5) NULL,
[DSS_RECORD_START_DATE] [date] NOT NULL,
[DSS_RECORD_END_DATE] [date] NULL,
[DSS_SYSTEM_CREATED_DATE] [date] NOT NULL,
[DSS_SYSTEM_UPDATED_DATE] [date] NOT NULL,
 CONSTRAINT [PK_ODS_GP_V02_DSS_KEY] PRIMARY KEY CLUSTERED
(
[DSS_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_ODS_GP_V02_CODE_DSS_RECORD_END_DATE] UNIQUE NONCLUSTERED
(
[CODE] ASC,
[DSS_RECORD_END_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_ODS_GP_V02_CODE_DSS_RECORD_START_DATE] UNIQUE NONCLUSTERED
(
[CODE] ASC,
[DSS_RECORD_START_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY];""")
trans.commit()
conn.close()
import pandas as pd
df = pd.read_csv(r'D:\NHS SQL learning data\2019-05-23\egpcur.csv', header=None, usecols=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23], index_col=False)
#need to get rid of the shit columns so that it matches the table. Do that below
col_names = ['CODE', 'NAME', 'NATIONAL_GROUPING', 'HIGH_LEVEL_HEALTH_GEOGRAPHY', 'ADDRESS_LINE_1', 'ADDRESS_LINE_2', 'ADDRESS_LINE_3', 'ADDRESS_LINE_4', 
             'ADDRESS_LINE_5', 'POSTCODE', 'OPEN_DATE', 'CLOSE_DATE', 'STATUS_CODE', 'ORGANISATION_SUB_TYPE_CODE', 'PARENT_ORGANISATION_CODE', 
             'JOIN_PARENT_DATE', 'LEFT_PARENT_DATE', 'CONTACT_TELEPHONE_NUMBER', 'CURRENT_CARE_ORGANISATION', 'DSS_RECORD_START_DATE', 
             'DSS_RECORD_END_DATE', 'DSS_SYSTEM_CREATED_DATE', 'DSS_SYSTEM_UPDATED_DATE']
df.columns = col_names
df.to_sql('ODS_GP_V02_staging', engine, if_exists='append', index=False)
engine.execute(INSERT INTO )
df.info()

In [30]:
import pandas as pd
df = pd.read_csv(r'D:\NHS SQL learning data\2019-05-23\egpcur.csv', header=None, usecols=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23], index_col=False)
#need to get rid of the shit columns so that it matches the table. Do that below
col_names = ['CODE', 'NAME', 'NATIONAL_GROUPING', 'HIGH_LEVEL_HEALTH_GEOGRAPHY', 'ADDRESS_LINE_1', 'ADDRESS_LINE_2', 'ADDRESS_LINE_3', 'ADDRESS_LINE_4', 
             'ADDRESS_LINE_5', 'POSTCODE', 'OPEN_DATE', 'CLOSE_DATE', 'STATUS_CODE', 'ORGANISATION_SUB_TYPE_CODE', 'PARENT_ORGANISATION_CODE', 
             'JOIN_PARENT_DATE', 'LEFT_PARENT_DATE', 'CONTACT_TELEPHONE_NUMBER', 'CURRENT_CARE_ORGANISATION', 'DSS_RECORD_START_DATE', 
             'DSS_RECORD_END_DATE', 'DSS_SYSTEM_CREATED_DATE', 'DSS_SYSTEM_UPDATED_DATE']
df.columns = col_names
df.to_sql('ODS_GP_V02', engine, if_exists='append', index=False, 
          dtype={'CODE' : db.types.VARCHAR(length=5),'NAME' : db.types.VARCHAR(length=50),
                 'NATIONAL_GROUPING' : db.types.VARCHAR(length=5),'HIGH_LEVEL_HEALTH_GEOGRAPHY' : db.types.VARCHAR(length=5) , 
                 'ADDRESS_LINE_1' : db.types.VARCHAR(length=35), 'ADDRESS_LINE_2' : db.types.VARCHAR(length=35),
                 'ADDRESS_LINE_3' : db.types.VARCHAR(length=35), 'ADDRESS_LINE_4' : db.types.VARCHAR(length=35), 
             'ADDRESS_LINE_5' : db.types.VARCHAR(length=35), 'POSTCODE' : db.types.VARCHAR(length=8), 
                 'OPEN_DATE' : db.DateTime(), 'CLOSE_DATE' : db.DateTime(), 'STATUS_CODE' : db.types.VARCHAR(length=1),
                 'ORGANISATION_SUB_TYPE_CODE' : db.types.VARCHAR(length=1), 'PARENT_ORGANISATION_CODE' : db.types.VARCHAR(length=6),
                 'JOIN_PARENT_DATE' : db.DateTime(), 'LEFT_PARENT_DATE' : db.DateTime(), 'CONTACT_TELEPHONE_NUMBER' : db.types.VARCHAR(length=12),
                 'CURRENT_CARE_ORGANISATION' : db.types.VARCHAR(length=5), 'DSS_RECORD_START_DATE' : db.DateTime(), 
             'DSS_RECORD_END_DATE' : db.DateTime(), 'DSS_SYSTEM_CREATED_DATE' : db.DateTime(), 'DSS_SYSTEM_UPDATED_DATE' : db.DateTime() })
df.info()

DataError: (pyodbc.DataError) ('22018', '[22018] [Microsoft][ODBC SQL Server Driver][SQL Server]Operand type clash: float is incompatible with date (206) (SQLExecDirectW); [22018] [Microsoft][ODBC SQL Server Driver][SQL Server]Statement(s) could not be prepared. (8180)')
[SQL: INSERT INTO [ODS_GP_V02] ([CODE], [NAME], [NATIONAL_GROUPING], [HIGH_LEVEL_HEALTH_GEOGRAPHY], [ADDRESS_LINE_1], [ADDRESS_LINE_2], [ADDRESS_LINE_3], [ADDRESS_LINE_4], [ADDRESS_LINE_5], [POSTCODE], [OPEN_DATE], [CLOSE_DATE], [STATUS_CODE], [ORGANISATION_SUB_TYPE_CODE], [PARENT_ORGANISATION_CODE], [JOIN_PARENT_DATE], [LEFT_PARENT_DATE], [CONTACT_TELEPHONE_NUMBER], [CURRENT_CARE_ORGANISATION], [DSS_RECORD_START_DATE], [DSS_RECORD_END_DATE], [DSS_SYSTEM_CREATED_DATE], [DSS_SYSTEM_UPDATED_DATE]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: (('ALLEN EB', 'Y11', 'QAL', 'FIRCROFT, LONDON ROAD', 'ENGLEFIELD GREEN', 'EGHAM', 'SURREY', None, 'TW20 0BS', 19740401, None, 'A', 'P', 'H81600', 19740401, 19910401.0, None, None, None, None, 0, None, None), ('ANDERSON MG', 'Y61', 'Q79', 'LENSFIELD MEDICAL PRAC.', '48 LENSFIELD ROAD', 'CAMBRIDGE', 'CAMBRIDGESHIRE', None, 'CB2 1EH', 19740401, None, 'A', 'O', 'D81001', 19740401, 19911231.0, '01223 651020', None, None, None, 0, None, '06H'), ('ADLER S', 'Y56', 'Q71', '682 FINCHLEY ROAD', 'GOLDERS GREEN', 'LONDON', None, None, 'NW11 7NP', 19740401, None, 'A', 'O', 'E83600', 19740401, 19920731.0, '020 84559994', None, None, None, 0, None, '07M'), ('ATTWOOD DC', 'Y62', 'Q83', 'GREAT LEVER HEALTH CENTRE', 'RUPERT STREET,GREAT LEVER', 'BOLTON', 'LANCASHIRE', None, 'BL3 6RN', 19740401, None, 'A', 'O', 'P82013', 19740401, 19910525.0, '01204 462141', None, None, None, 0, None, '00T'), ('ALEXANDER PJ', 'Y01', 'QDF', '10 WEST END', 'SWANLAND', 'HUMBERSIDE', None, None, 'HU14 3PE', 19740401, None, 'A', 'P', 'B81600', 19740401, 19940409.0, '0482 633570', None, None, None, 0, None, None), ('ALLDRIDGE DGE', 'Y59', 'Q88', 'OAKFIELD', '158 STATION ROAD', 'REDHILL', 'SURREY', None, 'RH1 1HF', 19740401, None, 'A', 'O', 'H81083', 19740401, 19920102.0, '01737 642207', None, None, None, 0, None, '09L'), ('ANDERSON CF', 'Y63', 'Q74', 'THE HEALTH CENTRE', 'LAWSON STREET', 'STOCKTON ON TEES', 'CLEVELAND', None, 'TS18 1HU', 19740401, None, 'A', 'O', 'A81001', 19740401, 19910701.0, '01642 672351', None, None, None, 0, None, '00K'), ('ANTHONY RAJ', 'Y58', 'Q86', 'THE LECKHAMPTON SURGERY', 'LLOYD DAVIES HOUSE', '17 MOOREND PARK ROAD', 'CHELTENHAM', None, 'GL53 0LA', 19740401, None, 'A', 'O', 'L84040', 19740401, 19930427.0, '0242 515363', None, None, None, 0, None, '11M')  ... displaying 10 of 90876 total bound parameter sets ...  ('COMMITTEES LOCUM', 'W00', 'QW2', 'DEPUTISING SERVICES', 'SOUTH-GLAMORGAN', None, None, None, None, 19740401, None, 'A', 'P', 'W97699', 19910401, 19950331.0, None, None, None, None, 0, None, None), ('COMMITTEES LOCUM', 'W00', 'QW5', 'DEPUTISING SERVICES', 'WEST-GLAMORGAN', None, None, None, None, 19740401, None, 'A', 'P', 'W98699', 19910401, 19950331.0, None, None, None, None, 0, None, None))]
(Background on this error at: http://sqlalche.me/e/9h9h)

In [22]:
df = pd.read_csv(r'D:\NHS SQL learning data\2019-05-23\egpcur.csv', header=None, usecols=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23], index_col=False)
#need to get rid of the shit columns so that it matches the table. Do that below
col_names = ['CODE', 'NAME', 'NATIONAL_GROUPING', 'HIGH_LEVEL_HEALTH_GEOGRAPHY', 'ADDRESS_LINE_1', 'ADDRESS_LINE_2', 'ADDRESS_LINE_3', 'ADDRESS_LINE_4', 
             'ADDRESS_LINE_5', 'POSTCODE', 'OPEN_DATE', 'CLOSE_DATE', 'STATUS_CODE', 'ORGANISATION_SUB_TYPE_CODE', 'PARENT_ORGANISATION_CODE', 
             'JOIN_PARENT_DATE', 'LEFT_PARENT_DATE', 'CONTACT_TELEPHONE_NUMBER', 'CURRENT_CARE_ORGANISATION', 'DSS_RECORD_START_DATE', 
             'DSS_RECORD_END_DATE', 'DSS_SYSTEM_CREATED_DATE', 'DSS_SYSTEM_UPDATED_DATE']
df.columns = col_names

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90876 entries, 0 to 90875
Data columns (total 23 columns):
CODE                           90876 non-null object
NAME                           90255 non-null object
NATIONAL_GROUPING              90876 non-null object
HIGH_LEVEL_HEALTH_GEOGRAPHY    90871 non-null object
ADDRESS_LINE_1                 88684 non-null object
ADDRESS_LINE_2                 89349 non-null object
ADDRESS_LINE_3                 72124 non-null object
ADDRESS_LINE_4                 478 non-null object
ADDRESS_LINE_5                 90808 non-null object
POSTCODE                       90876 non-null int64
OPEN_DATE                      4374 non-null float64
CLOSE_DATE                     90876 non-null object
STATUS_CODE                    90876 non-null object
ORGANISATION_SUB_TYPE_CODE     90876 non-null object
PARENT_ORGANISATION_CODE       90876 non-null int64
JOIN_PARENT_DATE               39467 non-null float64
LEFT_PARENT_DATE               90163 non-null object
CONTACT_TELEPHONE_NUMBER       0 non-null float64
CURRENT_CARE_ORGANISATION      0 non-null float64
DSS_RECORD_START_DATE          0 non-null float64
DSS_RECORD_END_DATE            90876 non-null int64
DSS_SYSTEM_CREATED_DATE        0 non-null float64
DSS_SYSTEM_UPDATED_DATE        76519 non-null object
dtypes: float64(6), int64(3), object(14)
memory usage: 15.9+ MB

In [11]:
view = pd.read_sql("""SELECT * FROM ODS_GP_V02""", engine)
view.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 24 columns):
DSS_KEY                        0 non-null object
CODE                           0 non-null object
NAME                           0 non-null object
NATIONAL_GROUPING              0 non-null object
HIGH_LEVEL_HEALTH_GEOGRAPHY    0 non-null object
ADDRESS_LINE_1                 0 non-null object
ADDRESS_LINE_2                 0 non-null object
ADDRESS_LINE_3                 0 non-null object
ADDRESS_LINE_4                 0 non-null object
ADDRESS_LINE_5                 0 non-null object
POSTCODE                       0 non-null object
OPEN_DATE                      0 non-null object
CLOSE_DATE                     0 non-null object
STATUS_CODE                    0 non-null object
ORGANISATION_SUB_TYPE_CODE     0 non-null object
PARENT_ORGANISATION_CODE       0 non-null object
JOIN_PARENT_DATE               0 non-null object
LEFT_PARENT_DATE               0 non-null object
CONTACT_TELEPHONE_NUMBER       0 non-null object
CURRENT_CARE_ORGANISATION      0 non-null object
DSS_RECORD_START_DATE          0 non-null object
DSS_RECORD_END_DATE            0 non-null object
DSS_SYSTEM_CREATED_DATE        0 non-null object
DSS_SYSTEM_UPDATED_DATE        0 non-null object
dtypes: object(24)
memory usage: 0.0+ bytes

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90876 entries, 0 to 90875
Data columns (total 26 columns):
CODE                           90876 non-null object
NAME                           90876 non-null object
NATIONAL_GROUPING              90255 non-null object
HIGH_LEVEL_HEALTH_GEOGRAPHY    90876 non-null object
ADDRESS_LINE_1                 90871 non-null object
ADDRESS_LINE_2                 88684 non-null object
ADDRESS_LINE_3                 89349 non-null object
ADDRESS_LINE_4                 72124 non-null object
ADDRESS_LINE_5                 478 non-null object
POSTCODE                       90808 non-null object
OPEN_DATE                      90876 non-null int64
CLOSE_DATE                     4374 non-null float64
STATUS_CODE                    90876 non-null object
ORGANISATION_SUB_TYPE_CODE     90876 non-null object
PARENT_ORGANISATION_CODE       90876 non-null object
JOIN_PARENT_DATE               90876 non-null int64
LEFT_PARENT_DATE               39467 non-null float64
CONTACT_TELEPHONE_NUMBER       90163 non-null object
CURRENT_CARE_ORGANISATION      0 non-null float64
DSS_RECORD_START_DATE          0 non-null float64
DSS_RECORD_END_DATE            0 non-null float64
DSS_SYSTEM_CREATED_DATE        90876 non-null int64
DSS_SYSTEM_UPDATED_DATE        0 non-null float64
22                             76519 non-null object
23                             0 non-null float64
24                             0 non-null float64
dtypes: float64(8), int64(3), object(15)
memory usage: 18.0+ MB

In [27]:
import pandas as pd

col_names = ['DSS_KEY', 'CODE', 'NAME', 'NATIONAL_GROUPING', 'HIGH_LEVEL_HEALTH_GEOGRAPHY', 'ADDRESS_LINE_1', 'ADDRESS_LINE_2', 'ADDRESS_LINE_3', 'ADDRESS_LINE_4', 'ADDRESS_LINE_5', 'POSTCODE', 'OPEN_DATE', 'CLOSE_DATE', 'STATUS_CODE', 'ORGANISATION_SUB_TYPE_CODE', 'PARENT_ORGANISATION_CODE', 'JOIN_PARENT_DATE', 'LEFT_PARENT_DATE', 'CONTACT_TELEPHONE_NUMBER', 'CURRENT_CARE_ORGANISATION', 'DSS_RECORD_START_DATE', 'DSS_RECORD_END_DATE', 'DSS_SYSTEM_CREATED_DATE', 'DSS_SYSTEM_UPDATED_DATE', '22', '23', '24']

df = pd.read_csv(r'D:\NHS SQL learning data\2019-05-23\egpcur.csv', names=col_names, header=None)
#df.columns =  ['DSS_KEY', 'CODE', 'NAME', 'NATIONAL_GROUPING', 'HIGH_LEVEL_HEALTH_GEOGRAPHY', 'ADDRESS_LINE_1', 'ADDRESS_LINE_2', 'ADDRESS_LINE_3', 'ADDRESS_LINE_4', 'ADDRESS_LINE_5', 'POSTCODE', 'OPEN_DATE', 'CLOSE_DATE', 'STATUS_CODE', 'ORGANISATION_SUB_TYPE_CODE', 'PARENT_ORGANISATION_CODE', 'JOIN_PARENT_DATE', 'LEFT_PARENT_DATE', 'CONTACT_TELEPHONE_NUMBER', 'CURRENT_CARE_ORGANISATION', 'DSS_RECORD_START_DATE', 'DSS_RECORD_END_DATE', 'DSS_SYSTEM_CREATED_DATE', 'DSS_SYSTEM_UPDATED_DATE', '22', '23', '24']
df.to_sql('ODS_GP_V02', engine, if_exists='replace')

In [15]:
import pandas as pd

df = pd.read_csv(r"D:\NHS SQL learning data\2019-05-23\egpcur.csv")

conn.execute('USE [adamdb]'
            'DROP TABLE IF EXISTS dbo.ODS_GP;' 
             'CREATE TABLE "[ODS_GP_V02]"('
'[DSS_KEY] [int] IDENTITY(1,1) NOT NULL,'
'[CODE] [varchar](8) NOT NULL,'
'[NAME] [varchar](50) NOT NULL,'
'[NATIONAL_GROUPING] [varchar](5) NULL,'
'[HIGH_LEVEL_HEALTH_GEOGRAPHY] [varchar](5) NOT NULL,'
'[ADDRESS_LINE_1] [varchar](35) NULL,'
'[ADDRESS_LINE_2] [varchar](35) NULL,'
'[ADDRESS_LINE_3] [varchar](35) NULL,'
'[ADDRESS_LINE_4] [varchar](35) NULL,'
'[ADDRESS_LINE_5] [varchar](35) NULL,'
'[POSTCODE] [varchar](8) NULL,'
'[OPEN_DATE] [date] NOT NULL,'
'[CLOSE_DATE] [date] NULL,'
'[STATUS_CODE] [varchar](1) NOT NULL,'
'[ORGANISATION_SUB_TYPE_CODE] [varchar](1) NOT NULL,'
'[PARENT_ORGANISATION_CODE] [varchar](6) NOT NULL,'
'[JOIN_PARENT_DATE] [date] NOT NULL,'
'[LEFT_PARENT_DATE] [date] NULL,'
'[CONTACT_TELEPHONE_NUMBER] [varchar](12) NULL,'
'[CURRENT_CARE_ORGANISATION] [varchar](5) NULL,'
'[DSS_RECORD_START_DATE] [date] NOT NULL,'
'[DSS_RECORD_END_DATE] [date] NULL,'
'[DSS_SYSTEM_CREATED_DATE] [date] NOT NULL,'
'[DSS_SYSTEM_UPDATED_DATE] [date] NOT NULL,'
'CONSTRAINT [PK_ODS_GP_V02_DSS_KEY] PRIMARY KEY CLUSTERED([DSS_KEY] ASC)WITH'
                 '(PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],'
'CONSTRAINT [UK_ODS_GP_V02_CODE_DSS_RECORD_END_DATE] UNIQUE NONCLUSTERED'
'([CODE] ASC,[DSS_RECORD_END_DATE] ASC'
')WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],'
' CONSTRAINT [UK_ODS_GP_V02_CODE_DSS_RECORD_START_DATE] UNIQUE NONCLUSTERED([CODE] ASC,[DSS_RECORD_START_DATE] ASC'
')WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]'
') ON [PRIMARY];')
             
trans.commit()
conn.close()

StatementError: (sqlalchemy.exc.ResourceClosedError) This Connection is closed
[SQL: USE [adamdb]DROP TABLE IF EXISTS dbo.ODS_GP;CREATE TABLE "[ODS_GP_V02]"([DSS_KEY] [int] IDENTITY(1,1) NOT NULL,[CODE] [varchar](8) NOT NULL,[NAME] [varchar](50) NOT NULL,[NATIONAL_GROUPING] [varchar](5) NULL,[HIGH_LEVEL_HEALTH_GEOGRAPHY] [varchar](5) NOT NULL,[ADDRESS_LINE_1] [varchar](35) NULL,[ADDRESS_LINE_2] [varchar](35) NULL,[ADDRESS_LINE_3] [varchar](35) NULL,[ADDRESS_LINE_4] [varchar](35) NULL,[ADDRESS_LINE_5] [varchar](35) NULL,[POSTCODE] [varchar](8) NULL,[OPEN_DATE] [date] NOT NULL,[CLOSE_DATE] [date] NULL,[STATUS_CODE] [varchar](1) NOT NULL,[ORGANISATION_SUB_TYPE_CODE] [varchar](1) NOT NULL,[PARENT_ORGANISATION_CODE] [varchar](6) NOT NULL,[JOIN_PARENT_DATE] [date] NOT NULL,[LEFT_PARENT_DATE] [date] NULL,[CONTACT_TELEPHONE_NUMBER] [varchar](12) NULL,[CURRENT_CARE_ORGANISATION] [varchar](5) NULL,[DSS_RECORD_START_DATE] [date] NOT NULL,[DSS_RECORD_END_DATE] [date] NULL,[DSS_SYSTEM_CREATED_DATE] [date] NOT NULL,[DSS_SYSTEM_UPDATED_DATE] [date] NOT NULL,CONSTRAINT [PK_ODS_GP_V02_DSS_KEY] PRIMARY KEY CLUSTERED([DSS_KEY] ASC)WITH(PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],CONSTRAINT [UK_ODS_GP_V02_CODE_DSS_RECORD_END_DATE] UNIQUE NONCLUSTERED([CODE] ASC,[DSS_RECORD_END_DATE] ASC)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY], CONSTRAINT [UK_ODS_GP_V02_CODE_DSS_RECORD_START_DATE] UNIQUE NONCLUSTERED([CODE] ASC,[DSS_RECORD_START_DATE] ASC)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]) ON [PRIMARY];]

In [7]:
#this one works. Pay attention conn.execute, NOT engine.execute. Must have '' at the start and end of each row of the query. Must commit at the end and close connection.

conn.execute('USE [adamdb]'
             'DROP TABLE IF EXISTS "ODS_GP_FULL";'
               'CREATE TABLE "ODS_GP_FULL" ('
               '[DSS_KEY] [int] IDENTITY(1,1) NOT NULL,'
'[CODE] [varchar](8) NOT NULL,'
'[NAME] [varchar](50) NOT NULL,'
            ' [NATIONAL_GROUPING] [varchar](5) NULL,'
'[HIGH_LEVEL_HEALTH_GEOGRAPHY] [varchar](5) NOT NULL,'
'[ADDRESS_LINE_1] [varchar](35) NULL,'
'[ADDRESS_LINE_2] [varchar](35) NULL,'
'[ADDRESS_LINE_3] [varchar](35) NULL,'
'[ADDRESS_LINE_4] [varchar](35) NULL,'
'[ADDRESS_LINE_5] [varchar](35) NULL,'
             '[POSTCODE] [varchar](8) NULL,'
'[OPEN_DATE] [date] NOT NULL,'
'[CLOSE_DATE] [date] NULL,'
'[STATUS_CODE] [varchar](1) NOT NULL,'
'[ORGANISATION_SUB_TYPE_CODE] [varchar](1) NOT NULL,'
'[PARENT_ORGANISATION_CODE] [varchar](6) NOT NULL,'
'[JOIN_PARENT_DATE] [date] NOT NULL,'
'[LEFT_PARENT_DATE] [date] NULL,'
'[CONTACT_TELEPHONE_NUMBER] [varchar](12) NULL,'
'[CURRENT_CARE_ORGANISATION] [varchar](5) NULL,'
'[DSS_RECORD_START_DATE] [date] NOT NULL,'
'[DSS_RECORD_END_DATE] [date] NULL,'
'[DSS_SYSTEM_CREATED_DATE] [date] NOT NULL,'
'[DSS_SYSTEM_UPDATED_DATE] [date] NOT NULL,'
                'CONSTRAINT [PK_ODS_GP_V02_DSS_KEY] PRIMARY KEY CLUSTERED'
'([DSS_KEY] ASC)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],'
' CONSTRAINT [UK_ODS_GP_V02_CODE_DSS_RECORD_END_DATE] UNIQUE NONCLUSTERED'
'([CODE] ASC,[DSS_RECORD_END_DATE] ASC'
')WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],'
 'CONSTRAINT [UK_ODS_GP_V02_CODE_DSS_RECORD_START_DATE] UNIQUE NONCLUSTERED'
'([CODE] ASC,[DSS_RECORD_START_DATE] ASC'
')WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]'
') ON [PRIMARY];')

trans.commit()
conn.close()

In [15]:
conn.execute("""USE [adamdb]
DROP TABLE IF EXISTS "ODS_GP_FULL";""")

trans.commit()
conn.close()

In [ ]:
import sqlalchemy as db
#create engine

import urllib
params = urllib.parse.quote_plus("DRIVER={SQL Server};SERVER=TWINBANJ\MSSQLSERVERDEV;DATABASE=adamdb")

engine = db.create_engine("mssql+pyodbc:///?odbc_connect=%s" % params)

conn = engine.connect()
trans = conn.begin()

conn.close()
engine.dispose()