In [13]:
import sqlalchemy as db
#create engine

import urllib
params = urllib.parse.quote_plus("DRIVER={SQL Server};SERVER=TWINBANJ\MSSQLSERVERDEV;DATABASE=adamdb")

engine = db.create_engine("mssql+pyodbc:///?odbc_connect=%s" % params)
import os
os.getcwd()

conn = engine.connect()
trans = conn.begin()

In [20]:
import pandas as pd

df = pd.read_csv(r'D:\NHS SQL learning data\2019-05-23\egpcur.csv', header=None)
df2 = pd.read_csv(r'D:\NHS SQL learning data\2019-06-13\egpcur.csv', header=None)
df3 = pd.read_csv(r'D:\NHS SQL learning data\2019-07-18\egpcur.csv', header=None)
df4 = pd.read_csv(r'D:\NHS SQL learning data\2019-09-09\egpcur.csv', header=None)

#not sure what the task is for now so stop
#df.append(df2, ignore_index = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90876 entries, 0 to 90875
Data columns (total 27 columns):
0     90876 non-null object
1     90876 non-null object
2     90255 non-null object
3     90876 non-null object
4     90871 non-null object
5     88684 non-null object
6     89349 non-null object
7     72124 non-null object
8     478 non-null object
9     90808 non-null object
10    90876 non-null int64
11    4374 non-null float64
12    90876 non-null object
13    90876 non-null object
14    90876 non-null object
15    90876 non-null int64
16    39467 non-null float64
17    90163 non-null object
18    0 non-null float64
19    0 non-null float64
20    0 non-null float64
21    90876 non-null int64
22    0 non-null float64
23    76519 non-null object
24    0 non-null float64
25    0 non-null float64
26    0 non-null float64
dtypes: float64(9), int64(3), object(15)
memory usage: 18.7+ MB

In [16]:
df.equals(df2)
#either send both to SQLserver then update them.
#OR we can append / merge them in python then drop duplicates
#then send to the server

#going to go with 1) merge the two tables then drop dupes

False

In [25]:
df_updated = pd.concat([df,df2]).drop_duplicates().reset_index(drop=True)
df_updated.tail()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
91951,G9907182,KEY H,Y63,Q72,UPWELL STREET SURGERY,93 UPWELL STREET,SHEFFIELD,SOUTH YORKSHIRE,NaN,S4 8AN,...,0345 1202826,NaN,NaN,NaN,0,NaN,03N,NaN,NaN,NaN
91952,G9907302,WALSTER VMJ,Y63,Q72,CHURCH VIEW SURGERY,"5 MARKET HILL, HEDON",HULL,NaN,NaN,HU12 8JE,...,01482 899348,NaN,NaN,NaN,0,NaN,02Y,NaN,NaN,NaN
91953,G9907436,WATSON EA,Y58,Q85,THE WOODA SURGERY,CLARENCE WHARF,BARNSTAPLE STREET,"BIDEFORD, DEVON",NaN,EX39 4AU,...,01237 471071,NaN,NaN,NaN,1,NaN,15N,NaN,NaN,NaN
91954,G9907591,DAVIES RL,W00,Q99,CANOLFAN GOFFA FFESTINIOG,WYNNE ROAD,BLAENAU FFESTINIOG,GWYNEDD,NaN,LL41 3DW,...,0300 0850004,NaN,NaN,NaN,0,NaN,7A1,NaN,NaN,NaN
91955,G9908169,YATES REM,Y58,Q85,LUSON SURGERY,41 FORE STREET,WELLINGTON,SOMERSET,NaN,TA21 8AG,...,01823 662836,NaN,NaN,NaN,0,NaN,11X,NaN,NaN,NaN

In [33]:
df_updated2 = pd.concat([df2,df3]).drop_duplicates().reset_index(drop=True)
df_updated2.tail()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
92812,G9907436,WATSON EA,Y58,Q85,THE WOODA SURGERY,CLARENCE WHARF,BARNSTAPLE STREET,"BIDEFORD, DEVON",NaN,EX39 4AU,...,01237 471071,NaN,NaN,NaN,0,NaN,15N,NaN,NaN,NaN
92813,G9907670,WOUDENBERG SJ,Y62,Q84,THE SURGERY,ORCHARD ROAD,"ARNSIDE, NR.CARNFORTH",LANCASHIRE,NaN,LA5 0DP,...,01524 761311,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
92814,G9909191,WELLS D,Y59,Q88,WISH PARK SURGERY,191-193 PORTLAND ROAD,HOVE,EAST SUSSEX,NaN,BN3 5JA,...,01273 729194,NaN,NaN,NaN,0,NaN,09D,NaN,NaN,NaN
92815,G9909816,RAHIM MH,Y59,Q87,ST.BARTHOLOMEWS MED.CTR.,"MANZIL WAY,COWLEY ROAD",OXFORD,NaN,NaN,OX4 1XB,...,01865 242334,NaN,NaN,NaN,0,NaN,10Q,NaN,NaN,NaN
92816,G9910058,SPILL WF,W00,Q99,LONGFORD HOUSE SURGERY,LONGFORD ROAD,HOLYHEAD,YNYS MON,NaN,LL65 1TR,...,01407 762341,NaN,NaN,NaN,0,NaN,7A1,NaN,NaN,NaN

KeyError: '0'

In [8]:
conn.execute(DROP IF EXIST ODS_GP_FULL)
trans.committ()
conn.close()

AttributeError: module 'pandas' has no attribute '_libs'