 # Skipton School Comparison
 
 ## Introduction
 I want to make an informed decision on school choice for my children. Initially, this will be a comparison of the 4 secondary schools in Skipton using available goverment metrics taken from school-performance.service.gov.uk/compare-schools?for=secondary . I may later compare these schools to other cities where would possibly live in the future, such as Leeds.
 
 ### School and metrics to be assesed
 I will analyse Skipton Girl's High School and Ermysted's Grammar School as they are considered to be the best schools in the town and arguably the best in North Yorkshire. In order to provide comparison I will further compare these with the other schools in Skipton Skipton Academy and Upper Wharfdale School. 
 
## Data Import

In [31]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/EnglishDevil/dbpractice/data/815_2019_ks4provisional.csv', usecols=("URN","SCHNAME","PTEBACC_95","P8_BANDING","ATT8SCR"),dtype={'URN': 'S75'})
df['URN'] = df['URN'].astype(str)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 5 columns):
URN           75 non-null object
SCHNAME       72 non-null object
ATT8SCR       55 non-null object
PTEBACC_95    55 non-null object
P8_BANDING    47 non-null object
dtypes: object(5)
memory usage: 3.1+ KB

In [29]:
#need to fix it so the URN column doesnt give a decimal place to the data
df.loc[(df['URN'] == "136664.0") | (df['URN'] == "141179.0") | (df['URN'] == "121716.0") | (df['URN'] == "121690.0")]

         URN                     SCHNAME ATT8SCR PTEBACC_95 P8_BANDING
15  121716.0   Ermysted's Grammar School    71.4      50.0%          1
60  141179.0         The Skipton Academy    37.1       6.6%          4
61  136664.0  Skipton Girls' High School    71.1      77.4%          1
68  121690.0     Upper Wharfedale School    50.2       6.9%          1

In [28]:
df.loc[(df['SCHNAME'] == "The Skipton Academy")]

         URN              SCHNAME ATT8SCR PTEBACC_95 P8_BANDING
60  141179.0  The Skipton Academy    37.1       6.6%          4