In [28]:
#create engine
import sqlalchemy as db
import urllib
params = urllib.parse.quote_plus("DRIVER={SQL Server};SERVER=TWINBANJ\MSSQLSERVERDEV;DATABASE=adamdb")

engine = db.create_engine("mssql+pyodbc:///?odbc_connect=%s" % params)
#create connection

conn = engine.connect()

#create transaction
trans = conn.begin()

import pandas as pd


col_names = ['CODE', 'NAME', 'NATIONAL_GROUPING', 'HIGH_LEVEL_HEALTH_GEOGRAPHY', 'ADDRESS_LINE_1', 'ADDRESS_LINE_2', 'ADDRESS_LINE_3', 'ADDRESS_LINE_4', 
             'ADDRESS_LINE_5', 'POSTCODE', 'OPEN_DATE', 'CLOSE_DATE', 'STATUS_CODE', 'ORGANISATION_SUB_TYPE_CODE', 'PARENT_ORGANISATION_CODE', 
             'JOIN_PARENT_DATE', 'LEFT_PARENT_DATE', 'CONTACT_TELEPHONE_NUMBER', 'CURRENT_CARE_ORGANISATION', 'DSS_RECORD_START_DATE', 
             'DSS_RECORD_END_DATE', 'DSS_SYSTEM_CREATED_DATE', 'DSS_SYSTEM_UPDATED_DATE']
df = pd.read_csv(r'D:\truncdata1.csv', parse_dates=True)

df.info()

#trans.commit()
#conn.close()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 8 columns):
Code            98 non-null object
Name            98 non-null object
Address_1       98 non-null object
Address_2       98 non-null object
Address_3       69 non-null object
Postcode        97 non-null object
Date_open       98 non-null int64
Phone_number    93 non-null object
dtypes: int64(1), object(7)
memory usage: 6.2+ KB

In [31]:
df.head()

,Code,Name,Address_1,Address_2,Address_3,Postcode,Date_open,Phone_number
0,G0102005,ALLEN EB,"FIRCROFT, LONDON ROAD",EGHAM,SURREY,TW20 0BS,1974-04-01,NaN
1,G0102926,ANDERSON MG,LENSFIELD MEDICAL PRAC.,CAMBRIDGE,CAMBRIDGESHIRE,CB2 1EH,1974-04-01,01223 651020
2,G0105912,ADLER S,682 FINCHLEY ROAD,LONDON,NaN,NW11 7NP,1974-04-01,020 84559994
3,G0107031,ATTWOOD DC,GREAT LEVER HEALTH CENTRE,BOLTON,LANCASHIRE,BL3 6RN,1974-04-01,01204 462141
4,G0107725,ALEXANDER PJ,10 WEST END,HUMBERSIDE,NaN,HU14 3PE,1974-04-01,0482 633570

In [30]:
df['Date_open'] = pd.to_datetime(df['Date_open'], format='%Y%m%d')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 8 columns):
Code            98 non-null object
Name            98 non-null object
Address_1       98 non-null object
Address_2       98 non-null object
Address_3       69 non-null object
Postcode        97 non-null object
Date_open       98 non-null datetime64[ns]
Phone_number    93 non-null object
dtypes: datetime64[ns](1), object(7)
memory usage: 6.2+ KB

In [34]:
#df.to_sql("truncdata", con=engine,if_exist=replace)
#data is inserted into the server. Now try and do a type two update. May need to replace the origional table with one that has an extra collumn for date updated.